<div class='ad'>
  <p>
  <strong>
    <%= ad.title  %>
</strong>
  </p>
  <p>
  <%= ad.description  %>
  </p>

  <p>
  <em>
    Filled under: <%= ad.category.name  %> by <%= ad.user.email  %> on <%= ad.created_at  %>
</em>
  </p>
</div>
