<div class='panel panel-default'>
  <div class="panel-heading">
    <%= ad.title  %>
  </div>

  <div class="panel-body">
    <p><%= ad.description  %></p>
  </div>

  <div class="panel-footer">
    Filled under: <%= ad.category.name  %> by <%= ad.user.email  %> on <%= ad.created_at  %>
</div>

</div>
