<%= form_for ad do |f|  %>
  <p>Title:</p>
  <%= f.text_field :title  %>
  <p> Description </p>
  <%= f.text_area :description  %>

  <%= f.select :category_id, Category.all.map { |c| [ c.name, c.id ] }  %>

  <p>
  <%= f.submit 'go go go'  %>
  </p>

<% end %>
